{% include 'base.html' %}

{% block title %}
my invites
{% endblock title %}

{% block content %}

{% if is_empty %}
<h1>No invitations here...</h1>
{% endif %}

    {% for obj in qs %}     
    <div class="ui segment" style="width: 800px;margin-left: 350px;">
        <div class="ui grid">
            <div class="row">
                <div class="three wide column">
                    <img class="ui small circular image" src={{obj.avatar.url}}>
                </div>
                <div class="thirteen wide column" style="padding-right:300px;">
                    <h3>{{obj.user}}</h3>
                    <P>{{obj.bio}}</P>
                    <button class="ui primary button mb-5 w-big">See profile</button>
    
                    <form action="{% url 'profiles:accept-invite' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                        
                        <button type="submit" class="ui positive basic button mb-5 w-big"><i
                                class="check icon"></i>Accept</button>
                    </form>
        
                    <form action="{% url 'profiles:reject-invite' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{obj.pk}}">
    
                        <button type="submit" class="ui negative basic button mb-5 w-big"><i
                                class="minus square icon"></i>Reject</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    {% endfor %}

{% endblock content %}
